.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 20px 10% 20px 10%;
  position: relative;
  top: 170px;
}

.song-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
