.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-background);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  transition: opacity 0.5s ease;
  opacity: 1;
}
